/* uni-app 全局公共样式 */
$uni-color-primary: #4366ce;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

$uni-text-color: #333;
$uni-text-color-inverse: #fff;
$uni-text-color-grey: #999;
$uni-text-color-placeholder: #808080;

$uni-bg-color: #fff;
$uni-bg-color-grey: #f8f8f8;

$uni-border-color: #e5e5e5;

$uni-font-size-sm: 24rpx;
$uni-font-size-base: 28rpx;
$uni-font-size-lg: 32rpx;

$uni-spacing-row-sm: 10rpx;
$uni-spacing-row-base: 20rpx;
$uni-spacing-col-base: 20rpx;

$uni-border-radius-sm: 4rpx;
$uni-border-radius-base: 6rpx;
$uni-border-radius-lg: 12rpx;

$uni-spacing-col-lg: 40rpx;
$uni-spacing-row-lg: 40rpx;
